<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.wifiposition">

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WifiPosition" >
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AddPlaceActivity"
            android:label="Add a place"
            />
        <activity
            android:name=".activity.PlacesDetailActivity"
            android:label="@string/appbar_scrolling_view_behavior"
             />
        <activity
            android:name=".activity.AccessPointActivity"
            android:label="Add an access point"
             />
        <activity
            android:name=".activity.ScanWifiActivity"
            android:label="Add an access point"
            />
        <activity
            android:name=".activity.ReferencePointActivity"
            android:label="Add a reference point"
             />
        <activity
            android:name=".activity.LocateActivity"
            android:label="Locate"
             />
        <activity android:name=".activity.NavigationActivity"
            android:label="Settings" />

        <service android:name=".fragment.WifiService" />
    </application>

</manifest>